@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap') layer(base);

@import 'tailwindcss';
@plugin 'tailgrids/plugin';

@theme{
  --color-primary: #F39C12;
  --color-secondary: #16A085;
  --text-color: #333333;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: var(--text-color);
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

.max-w-8xl {
  max-width: 90rem;
}

